<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Contact -->
        <section class="contact">
          <header>
            <h3><%=t('footer.joinus')%></h3>
          </header>
          <ul class="icons">
            <li><a target="_blank" href="https://www.facebook.com/ArtbyHeartBangkok/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><%= link_to "",map_about_index_path,data: { modal: true},:class=>"icon fa-map-marker " %>
            </li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Art by Heart Bangkok. All rights reserved.</li>
            <li>Developed by: <a href="mailto:pattiyaa@gmail.com">Pattiya Akaratawee</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>