<% if user_signed_in? && !current_user.blank? %>
 <%= t(:hi)%>	<%=  current_user.name %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :destroy %>
<% else %>
<%= link_to  new_user_session_path ,data: { modal: true} do%>
	<i class="fa fa-user"></i>&nbsp<span>SIGN IN</span>
<%end%>
<% end %>