<section id="banner">
  <header>
    <h2>Welcome to <strong>Art by Heart</strong> bangkok!</h2>
    <p>
      พวกเราคือกลุ่มนักศิลปะบำบัด ติดตามตารางกิจกรรมและผลงานของเราได้ที่นี่ค่ะ
    </p>
  </header>
</section>