<div class="row">
<h3><%= t('session.option') %></h3>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="input-group input-group-google-plus">
			<span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
			<%= link_to_login_with 'Google+', 'Google', user_google_oauth2_omniauth_authorize_path, { width: '460', height: '460' }%>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="input-group input-group-facebook">
			<span class="input-group-addon"><i class="fa fa-facebook"></i></span>
			<%= link_to_login_with 'Facebook','Facebook', user_facebook_omniauth_authorize_path, { width: '460', height: '460' }%>
		</div>
	</div>
</div>
</div>
<%= render "devise/shared/register" %> 
