<% content_for :title, "Gallery on server" %>



<div class="fileupload-list" data-endless="true">
    <div id="picture_10" class="gal-item jes-marker" data-url="http://res.cloudinary.com/hkjfomy96/image/upload/c_limit,h_1200,w_1200/v1480002922/phzp7qelrdl2oxvzcd0h.jpg">
  <a data-confirm="Delete file?" class="fileupload-cancel gal-del" data-remote="true" rel="nofollow" data-method="delete" href="/ckeditor/pictures/10.json"><img title="Delete" src="/assets/ckeditor/filebrowser/images/gal_del-5103ec7de60473f8c5bafa0208257dca3a993edb783a766666edbc606fd6c531.png" alt="Gal del"></a>
	
	<div class="fileupload-file gal-inner-holder">
		<div class="img"><img title="image/upload/v1480002922/phzp7qelrdl2oxvzcd0h.jpg" src="http://res.cloudinary.com/hkjfomy96/image/upload/c_fill,h_100,w_118/v1480002922/phzp7qelrdl2oxvzcd0h.jpg" alt="Phzp7qelrdl2oxvzcd0h"></div>
		<div class="img-data">
			<div class="img-name">image/upload/v1480002922/phzp7qelrdl2oxvzcd0h.jpg</div>
			<div class="time-size">
				<div class="time">Thu, 24 Nov 2016 15:55:18 +0000</div>
				<div class="fileupload-size size"></div>
			</div>
		</div>
	</div>
</div>
</div>

