<div class="wrapper ">
<h2><%=t('article.suggest')%></h2>
<br/>
<div class="card-deck-wrapper ">
	<div class="card-deck">
		<% posts.each do |post| %>
			<%= render 'posts/listitem', post: post %>
		<%end%>
	</div>
</div>
</div>