.uni-blog-article {
 	width: 100%;
 }
.uni-blog-article header{
	background-color: #ffca28;

}
.uni-blog-article header .wrapper{
	padding:20px  50px 0 50px;
}
.uni-blog-article section{
	padding: 50px
}
.uni-blog-article section{

	text-align: justify;
}
.uni-blog-article .img.cover {
    height:450px;
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle; 
}
.uni-blog-article  .img.cover img{
    width:100%;
    display: block;
}
form fieldset > ol > li.boolean {
    padding: 22px 0;
}
.input-group{
    margin-bottom: 10px;
}
.input-group input{
    height: 39px;
}
form input[type="submit"]{
    float: right;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    border-radius:5px;
}
form input[type=submit]:not(.disabled):hover{
    background-color: #E6E6E6;
    background-position: 0 -30px;
    color: #333333;
    text-decoration: none;
    
}
.input-group-google-plus span.input-group-addon {
    background-color: #db3236;
    color: white;
}
.input-group-facebook span.input-group-addon{
    
    background-color: #3b5998;
    color: white;
}
.input-group-google-plus a,.input-group-facebook a{
    vertical-align: middle;
    color: #55595c;
    text-align: center;
    /*background-color: #eceeef;*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 150px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.input-group-google-plus a:hover{
    background-color: #dfe3ee;
    background-position: 0 -30px;
    color: #333333;
    text-decoration: none;
}
.input-group-facebook a:hover{
    background-color: #dfe3ee;
    background-position: 0 -30px;
    color: #333333;
    text-decoration: none;
}

form.signin .user_remember_me{
    text-align: right
}
form.signin input[type=submit]{
    width:250px;
}
.modal-body .center{
    padding: 50px ;
}
